# General
.DS_Store
.idea/
.vscode/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/sql_app.db
backend/temp/
backend/.env

# Artifacts
brain/
